{block title}{$currentCategory}{/block}
{block content}

<section id="category">
	{if $projects->count() != 0}
		{foreach $projects as $project}

		{var $image = $project->related('image')->limit(1)->order('main_image DESC')->fetch()}
			<a n:href="Project:detail project=>$project->id, category=>$project->category">
			<div class="image-box">
				{if $image}
					<img class="project-image" src="{$basePath}/images/uploads/{$image->preview_name}">
				{else}
					<img class="project-image" src="{$basePath}/images/no_thumbnail.jpg">
				{/if}
					 <H3 class="image-title">{$project->name}</H3>
			</div>
			</a>
		{/foreach}
	{else}
		<h1>V kategorii prozatím není žádný projekt</h1>
	{/if}
</section>
