{block title}{$project->name}{/block}
{block content}

<section>
    <div id="project-gallery">
	    {snippet gallery}
		{control visualPaginator}
		{foreach $project->related('image') as $image}
		    {if $iterator->counter-1 >= $offset && $iterator->counter < $offset + 7}
			<a href="{$basePath}/images/uploads/{$image->name}" 
			   title="{$image->title}" data-lightbox="{$project->name}">
			 <img class="detail-image" 
				 src="{$basePath}/images/uploads/{$image->preview_name}"
				 alt="{$image->title}">
			</a>
		    {else}
			<a style="display:none" href="{$basePath}/images/uploads/{$image->name}" 
			   title="{$image->title}" data-lightbox="{$project->name}">
			test</a>
		    {/if}
		{/foreach}
	   {/snippet} 
    </div>

    <div id="project-info">
	<a n:href="previousProject! $project->category">
		<img class="arrow" src="{$basePath}/images/arrow_left.gif"></a>
	<a n:href="nextProject! $project->category">
		<img class="arrow" src="{$basePath}/images/arrow_right.gif">
	</a>
	<span class="clear"></span>
	<h1>{$project->name}</h1>
	<div class="description">
		{$project->description}
	</div>
    </div>

</section>

