{var $robots = noindex}
{block #content}
<section>
<h1 n:block=title>Požadovaná stránka nenalezena</h1>

<p>Stránka na kterou se snažíte přejít bohuže neexistuje. Prosím pokračujte výběrem položky v menu.</p>

<p><small>error 404</small></p>
</section>