{layout none}
<!DOCTYPE html>
<meta charset="utf-8">
<meta name="robots" content="noindex">
<style>
	section { color: #333; background: white; width: 500px; margin: 100px auto }
	h1 { font: bold 47px/1.5 sans-serif; margin: .6em 0 }
	p { font: 21px/1.5 Georgia,serif; margin: 1.5em 0 }
	small { font-size: 70%; color: gray }
</style>
<section>
<h1>Server Error</h1>

<p>Omlouváme se ale na serveru nastala neočekávaná chyba. Prosím zkuste to později.</p>

<p><small>error 500</small></p>
</section>