{block title}Obrázky hlavní stránky{/block}
{block content}

<section>
	<div id="admin">
		<div id="organize-main-page">
			{if $tiles}
			{var $i=1}
			{foreach $tiles as $tile}
			{if !is_null($tile->image_id)}
			<a n:href="Admin:changeTile $tile->id">
				<div class="image-box">
					<div data-content="ZMĚNIT" class="tile preview3">
						<img src="{$basePath}/images/uploads/{$tile->image->preview_name}" class="preview3">
						<H3 n:class="$iterator->even ? 'image-title title-even' : image-title">{$tile->image->title}</H3>
					</div>
				</div>
			</a>
			{else}
			<a n:href="Admin:changeTile $i">
				<div class="image-box">
					<div data-content="ZMĚNIT" class="tile">
						<img src="{$basePath}/images/no_thumbnail.jpg">
						<H3 n:class="$iterator->even ? 'image-title title-even' : image-title">Obrázek nebyl vybrán</H3>
					</div>
				</div>
			</a>
			{/if}
			{var $i++}
			{/foreach}
			{else}
				Náhledy se nepodařilo načíst
			{/if}
		</div>

	</div>
</section>