
{block content}

<section>
	<div id="admin">
		{snippet flashes}
		<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
		{/snippet}
		{snippet sEditForm}
			{ifset $editId}
		<div id="project-edit">
			<a class="ajax close" n:href="endEdit!">Zrušit editaci</a>
			
			{if $imageEdit}
				{if $addImage}

						

							<h1>Přidat obrázeky</h1>
							{form addImageForm}
								{var $i = 1}
								{foreach $form->groups as $group}	
									<div id="image-upload">
										<h1>Obrázek {$i} {var $i++}</h1>
									{foreach $group->controls as $control}
										{label $control /}{input $control}
									{/foreach}
									</div>
								{/foreach}
								{input submitButton}
							{/form}
							<script>setupPrompts();</script>


				{else}
					<div id="image-edit">
						
						<a n:href='addImage! $editId' class="ajax">
						<div class="image-box preview-mini">
							<div data-content="Přidat" class="tile preview-mini">
								<img src="{$basePath}/images/add_image.jpg"  
									class="preview-mini">
							</div>
						</div>
						</a>
						

						{foreach $images as $id=>$path}
							<a n:href="deleteImage! $id, $editId"  onclick="return confirm('Opravdu chcete obrázek smazat?')">
								<div class="image-box preview-mini">
									<div data-content="Smazat" class="tile preview-mini">
										<img src="{$basePath}/images/uploads/{$path}"  
											class="preview-mini">
									</div>
								</div>
							</a>
						{/foreach}
					</div>
				{/if}
			{elseif $selectImage}
				<div id="image-edit">
					{foreach $images as $id=>$path}
						<a n:href="setMainImage! $id, $editId">
							<div class="image-box preview-mini">
								<div data-content="Vybrat" class="tile preview-mini">
									<img src="{$basePath}/images/uploads/{$path}"  
										class="preview-mini">
								</div>
							</div>
						</a>
					{/foreach}
				</div>
			{else}
			<h1>Upravit projekt</h1>		
			<br>
			<a class="ajax" n:href="selectMainImage! $editId">vybrat úvodní obrázek</a><br>
			<a class="ajax" n:href="editImages! $editId">přidat/odebrat obrázky</a>
			
			{control editForm}
			<script>setupPrompts();</script>
			{/if}
			
			
		</div>
		
			{/ifset}
		{/snippet}


		{var $categories = array(
		    'drobna_architektura' => 'drobná arch.',
		    'interier' => 'interiér',
		    'rodinne_domy' => 'rodinné domy',
		    'obcanske_stavby' => 'občanské stavby',
		    'urbanismus' => 'urbanismus'
		);}
		
		{if count($projects)}
		<table id="project-table">
			<thead>
			<tr>
				<td n:foreach="$tableHeaders as $header">{$header}</td>
			</tr>
			</thead>
			<tbody>
			<tr n:foreach="$projects as $p" n:class="$iterator->even ? even">
				<td>{$p->name}</td>
				<td>{$p->description|truncate:20}</td>
				<td>{$categories[$p->category]}</td>
				<td><a class="edit-link ajax" n:href="edit! $p->id">upravit</a></td>
				<td><a class="delete" n:href="delete! $p->id" 
					  onclick="return confirm('Opravdu chcete projekt {$p->name} smazat?')">
						Vymazat!</a></td>
			</tr>
			</tbody>
		</table>
		{else}
		<h1>Není vytvořen žádný projekt.</h1>
		{/if}
	</div>
</section>
{/block}
{block script}
<script src="{$basePath}/js/jquery-scrollto.js"></script>
<script n:syntax="off">
$('a.edit-link').click( function() {
	$('#project-table').ScrollTo();
});
</script>
{/block}