
{block content}

<section>
	<div id="admin">
		<h1>Vyberte katogorii, projekt a následně obrázek</h1>

		{form changeTileForm}
			{input category}
			{snippet projectSelectSnippet}
				{input project}
				{include #js}
			{/snippet}
		{/form}
		
		{snippet imagesSnippet}
		{ifset $images}
		<div id="images">
		{foreach $images as $id=>$path}
			<a n:href="newTileSelected! $id">
				<div class="image-box preview3">
					<div data-content="VYBRAT" class="tile preview3">
						<img src="{$basePath}/images/uploads/{$path}"  
							class="preview3">
					</div>
				</div>
			</a>
		{/foreach}	
		</div>
		{/ifset}
		{/snippet}
			
		{snippet flashesSnippet}
			<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
		{/snippet}

	</div>
</section>


{define #js}
<script>
{include #jsCallback, input => category, link => categorySelected}
{include #jsCallback, input => project, link => projectSelected}
</script>
{/define}

{define #jsCallback}

$('#{$control["changeTileForm"][$input]->htmlId}').on('change', function() {
    $.nette.ajax({
        type: 'POST',
        url: '{link {$link}!}',
        data: { 
	   'changeTileControl-value': $(this).val()
        }
    });
});

{/define}