
<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>


<section>
	<div id="admin">
{form addProjectForm}

	{* Errory formu *}
		<ul class="error" n:if="$form->hasErrors()">
			<h2 class="error">Projekt nebyl přidán:</h2>
			<li n:foreach="$form->errors as $error">{$error}</li>
		</ul>
		<div id="project-info-container">
			<table class="add-project">
				<tr>
					<td>{input category}</td>
				</tr>
				<tr>
					<td>{input name }</td>
				</tr>
				<tr>
					<td>{input description}</td>
				</tr>
			</table>
		</div>
		<div id="image-upload-container">
		{var $i = 1}
		{foreach $form->groups as $group}	
			<div id="image-upload">
				<h1>Obrázek {$i} {var $i++}</h1>
			{foreach $group->controls as $control}
				{label $control /}{input $control}
			{/foreach}
			</div>
		{/foreach}
		{input submitButton}
		</div>
{/form}
	</div>
</section>