{block title}Kontakt{/block}
{block content}


<section id="contact">
    <div id="info">
        
        <h1 class="info">MOBIL</h1>
        <p>732 574 596</p>
        
        <h1 class="info">E-MAIL</h1>
        <p><a class="mail" href="mailto:k-architekt@k-architekt.cz">k-architekt@k-architekt.cz</a></p>
        
        <div id="cities">
        <h1>PŮSOBNOST</h1>
    
        <h2 class="na">náchod</h2>
        <h2 class="pha">praha</h2>
        <h2 class="hk">hradec králové</h2>
        </div>
    </div>
<div id="map"><img src="{$basePath}/images/map.jpg" width="100%" height="100%" alt=""></div>
</section>