{block title}Architekt{/block}
{block content}

<section>

	{if $tiles}
	{var $i=1}
	{foreach $tiles as $tile}
	{if !is_null($tile->image_id)}
	<a n:href="Project:detail project=>$tile->image->project->id, category=>$tile->image->project->category">
		<div n:class="$iterator->counter > 3 ? 'main-image-bottom image-box' : image-box">
				<img src="{$basePath}/images/uploads/{$tile->image->preview_name}">
				<H3 n:class="$iterator->even ? 'image-title title-even' : image-title">{$tile->image->project->name}</H3>
		</div>
	</a>
	{else}
	<a n:href="Admin:changeTile $i">
		<div class="image-box">
				
		</div>
	</a>
	{/if}
	{var $i++}
	{/foreach}
	{else}
		Náhledy se nepodařilo načíst
	{/if}
		
</section>

{/block}