{block title}Profil{/block}
{block content}
<div id="profil-background">
    <img class="stretch" src="{$basePath}/images/profil.jpg">
</div>    
<section id="profil">

    <table class="profil">
        <tbody>
            <tr><td class="degree">Ing. arch.</td><td><h1> JIŘÍ KRÁL</h1></td></tr>
            <tr><td class="stage born">* 1984</td><td class="content">BROUMOV</td></tr>
            <tr><td class="stage">2000 - 04</td><td class="content">VOŠ A SPŠ<br>STAVEBNÍ ARCH.<br>J. LETZELA <br>NÁCHOD</td></tr>
            <tr><td class="stage">2004 - 10</td><td class="content">FAKULTA<br>ARCHITEKTURY A<br>STAVITELSTVÍ, <br>VŠB - TU OSTRAVA</td></tr>
            <tr><td class="stage">OD 2010</td><td class="content">SPOLUPRÁCE S<br>ARCHITEKTONICKOU<br>KANCELÁŘÍ<br>ARCHITEP HK s.r.o.,<br>HRADEC KRÁLOVÉ</td></tr>
        </tbody>
    </table>

</section>
