{contentType application/xml; charset=utf-8}
<?xml version="1.0" encoding="UTF-8"?>

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">

	<url>
		<loc>http://k-architekt.cz/</loc>
	</url>
	<url>
		<loc>http://k-architekt.cz/profil</loc>
	</url>
	<url>
		<loc>http://k-architekt.cz/kontakt</loc>
	</url>
	{foreach $projects as $category=>$projects}
	<url>
		<loc>{link Project:default category=>$category}</loc>
	</url>
		{foreach $projects as $project}
			<url>
				<loc>{link Project:detail category=>$category, project=>$project->id}</loc>
			</url>
		{/foreach}
	{/foreach}
</urlset>