{**
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
	<head>
		<meta charset="UTF-8">
		<meta property="og:url" content="http://k-architekt.cz">
		<meta property="og:title" content="Jiří Král - Architekt">
		<meta property="og:image" content="http://k-architekt.cz/www/images/thumb_big.jpg">
		<meta name="description" content="">
		<meta name="robots" content="index,follow">

		<title>{block title|striptags|firstUpper}{/block} - Jiří Král - Architekt</title>
		<link rel="stylesheet" media="screen" href="{$basePath}/css/kralda.css">
		<link rel="stylesheet" media="screen" href="{$basePath}/css/lightbox.css">
		<link rel="shortcut icon" href="{$basePath}/favicon.ico">
		<script src="{$basePath}/js/jquery.js"></script>  
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

	{block head}{/block}
	</head>

	<body>
		<div id="wrapper">  
			<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

			<nav>
				<ul>
					<li><a n:href="Homepage:profil" n:class="$presenter->linkCurrent?active">profil</a></li>
					<li><a n:href="Project:default category=>rodinne_domy" n:class="$presenter->isLinkCurrent('Project:*')?active">projekty</a></li>
					<li><a n:href="Homepage:contact" n:class="$presenter->linkCurrent?active">kontakt</a></li>
					<li><a n:href="Admin:projects" n:if="$user->isLoggedIn()" class="highlight" n:class="$presenter->linkCurrent?active">Administrace</a></li>
				</ul>
				<a id="logo-top" n:href="Homepage:default"><img src="{$basePath}/images/logo_main.gif"></a>
			</nav>

			<div class="clear"></div>

        {ifset  $showSubmenu}
			<div id="submenu">
				<nav>
					<ul>
						<li><a n:href="Project:default category=>drobna_architektura" n:class="$presenter->linkCurrent?active">drobná arch.</a></li>
						<li><a n:href="Project:default category=>interier" n:class="$presenter->linkCurrent?active">interiér</a></li>
						<li><a n:href="Project:default category=>rodinne_domy" n:class="$presenter->linkCurrent?active">rd</a></li>
						<li><a n:href="Project:default category=>obcanske_stavby" n:class="$presenter->linkCurrent?active">občanské stavby</a></li>
						<li><a n:href="Project:default category=>urbanismus" n:class="$presenter->linkCurrent?active">urbanismus</a></li>
					</ul>
				</nav>
			</div>
        {/ifset}

			<nav class="admin-nav" n:if="$user->isLoggedIn() && $presenter->isLinkCurrent('Admin:*')">
				<h1>Admin</h1>
				<ul>
					<li><a class="highlight" n:href="Admin:addProject">přidat nový projekt</a></li>
					<li><a n:href="Admin:projects">spravovat projekty</a></li>
					<li><a n:href="Admin:organizeMainPage">hlavní stránka</a></li>
					<li><a n:href="Admin:changePassword">změnit heslo</a></li>
					<li><a class="logout" n:href="logout!">odhlásit se</a></li>
				</ul>
			</nav>

	{include #content}

	{block scripts} 
			<script src="{$basePath}/js/netteForms.js"></script>
			<script src="{$basePath}/js/live-form-validation.js"></script>
			<script src="{$basePath}/js/nette.ajax.js"></script>
			<script src="{$basePath}/js/input_prompt.js"></script>
			<script src="{$basePath}/js/lightbox.js"></script>
			<script>
				$(function () {
					$.nette.init();
				});
			</script>
	{/block}
		</div>
	</body>
</html>
