html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
/*:focus {
        outline: 0;a
}*/
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}



/* CSS definition */

::-moz-selection{
	background:#40a6ff;
	color:white;
	text-shadow:none
}

::selection{
	background:#40a6ff;
	color:white;
	text-shadow:none
}

.flash {
	color: #00ff00;
}

.error {
	color: #ff0000;
}

.clear {clear: both;}

body {
	font: 15px "Arial Narrow", Arial, sans-serif;
	background-color: #ffffff;
	color: #000000;
}

h1 {
	font-weight: bold;
	font-size: 16px;
}

h2 {
	font-weight: bold;
	font-size: 13px;
}

a {text-decoration: none;}

.preview1 {
	width: 325px !important;
	height: 230px !important;
}

.preview2 {
	width: 250px !important;
	height: 177px !important;
}

.preview3 {
	width: 222px !important;
	height: 157px !important;
}

.preview-mini {
	width: 135px !important;
	height: 95px !important;
}

#wrapper {
	margin-right: 0;
}

nav {
	position: relative;
	min-height: 29px;

	margin: 30px 0 50px 0;
	padding-left: 6%;
}

#logo-top {float:right; margin-right: 3%}

nav ul{float:left;}

nav ul li {
	/*height: 50px;*/
	float: left;
	display: block;
	list-style: none;
	margin-right: 56px;
	margin-top: 7px;
}

nav ul li a {
	text-align: left;
	letter-spacing: 2px;
	width: 137px;
	padding: 2px 0;
	text-align: center;
	display: block;
	color: #ffffff;
	background-color: #000000;
	border: #000000 solid 2px;
}

nav a.active {
	color: #000000;
	background-color: #ffffff;
	text-decoration: none
}

/* admin navigation */

nav.admin-nav {
	min-width: 100px;
	width: 140px;
	float: left;
	margin-top: 0px;
	padding-right: 20px;
}

nav.admin-nav h1 {
	text-align: center;
}

nav.admin-nav ul li {
	width: 100%;
	float: left;
	margin-right: 0;
}

a.logout {
	background-color: #F73E3E;
}

a.highlight {
	background-color: #92CA55;
	color: #fff;
}



section {
	margin-left: 6%;
	z-index: 10;
}

/* Image boxes */

.image-box{
	width: 325px;
	float: left;
	margin: 0px 4px 40px 0px;
}

.image-box img {
	width: 100%;
	height: 100%;
	border: none;
}

.main-image-bottom {
	margin-bottom: 0px;
}

.image-title{
	padding: 2px 0px 2px 15px;
	margin-top: -4px;
	background-color: #000000;
	color: #ffffff;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.title-even{
	background-color: #ffffff;
	color: #000000;
}


/*Profil*/

#profil {    
	width: 100%;
	font-size: 10px;
}

#profil-background {
	width: 100%; 
	position: fixed; 
	left: 0px;
	z-index: -1; 
}

img.stretch {
	width: 100%;
	height: 100%;
}

#profil h1 {font-size: 12px;}

table.profil {
	letter-spacing: 1px;
	float: right;
	margin: 40px 15% 0 0;
}

table.profil td { padding-right: 30px; padding-bottom: 10px; }
table.profil td.degree { font-weight: normal; }
table.profil td.stage { margin-left: 30px; }
table.profil td.born { text-align: right; padding-bottom: 50px;}
table.profil td.content { width: 188px; }


/*contact*/

#contact {    
	margin-top: 50px;
}

#contact #info {
	width: 180px;
	min-height: 540px;
	float: left;  
}

#info #cities {
	margin-top: 45px;
	background-image: url("../images/contact_info.jpg");
	background-repeat: no-repeat;
}

#info a.mail {
	color: #000000;
}

#contact #map {
	margin-left: 230px;
	margin-right: 80px;
}

#contact H1 {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 4px;
}

#contact h2 {
	padding-left: 5px;
	color: #40a6ff;
	font-size: 12px;
	letter-spacing: 2px;
}

#contact h2.na {
	margin-top: 110px;
}

#contact h2.pha {
	margin-top: 60px;
}


#contact h2.hk {
	margin-top: 115px;
}

#contact h1.info {
	margin: 10px 0 10px 0;;
}


/* Categories */

#submenu nav {
	margin-top: -30px;
	font-size: 13px;
	margin-bottom: 30px;
}

#category .image-box{
	width: 250px;
	float: left;
	margin: 0px 4px 15px 0px;
}

.image-box img {
	height: 230px;
	border: none;
}




/* Project detail */

#project-gallery {
	width: 520px;
	float: left;
}

img.project-image {
	width: 250px;
	height: 177px;
}

img.detail-image {
	border: #000000 solid 1px;
	margin: 0 12px 7px 0;
	width: 220px;
	height: 155px;
}

#project-info {
	margin-left: 580px;
	width: 335px;
}

#project-info img.arrow {
	padding: 10px 10px 10px 0;
	opacity: 1;
	-webkit-transition: opacity 0.4s linear;
	-moz-transition: opacity 0.4s linear;
	-o-transition: opacity 0.4s linear;
	-ms-transition: opacity 0.4s linear;
	transition: opacity 0.4s linear;
}

#project-info img.arrow:hover {
	opacity: 0.6;
}

#project-info h1 {
	letter-spacing: 2px;
	text-transform: uppercase;
}

#project-info .description {
	padding-top: 15px;
	font-size: 12px;
	text-indent: 30px;
	text-align:justify;
}


/* Admin section */

#admin {
	margin-left: 160px;
}

/* change password */

#change-password {
	margin: 70px 100px;
}

/* add project */

table.add-project {
}

#project-info-container {
	width: 360px;
	float: left;
	margin-right: 30px;
}

#image-upload-container {
	width: 645px;
	float: left;
}

#image-upload {
	float:left; 
	width: 200px;
	margin: 0 10px 10px 0;
	border: #B3B3B3 solid 2px;
	text-align: center;
}

#image-upload input {
	display: inline;
}

#image-upload label {
	font-weight: bold;
	font-size: 12px;
}

/* project table */

#project-table {font-size: 0.9em;}
#project-table thead {font-size: 17px;}
#project-table tbody tr { background-color: #B3B3B3;}
#project-table tbody tr.even { background-color: #EBEBEB;}
#project-table tbody td{padding: 2px 4px 2px 4px;}
#project-table tbody a.delete{ color: red;}
#project-table tbody a.delete:visited{ color: red;}

#project-edit {
	float: right;
	padding: 5px 10px 5px 10px;
	margin-right: 50px;
	border: #B3B3B3 solid 2px;
}

#project-edit h1 {
	display: inline;
}

#image-edit {
	padding-top: 20px;
	width: 295px;
}

#image-edit .image-box {
	margin-bottom: 5px;
}

#image-edit .tile:before {
	padding-top: 25px;
}

#project-edit #image-upload {
	float: none;
	margin-top: 30px;
}
	
.close {
	width: 85px;
	float:right;
}

/* organize main page */

#organize-main-page {
	width: 680px;
	margin: 0 auto;
}

#organize-main-page .image-box{
	width: 222px;
	float: left;
	margin: 0px 4px 40px 0px;
	position: relative;
}

.tile {
	position: relative;
}

#organize-main-page .image-box .tile img {
	width: 100%;
	height: 100%;
	border: none;
}

.tile:after, .tile:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.tile:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
}

.tile:before {
    content: attr(data-content);
    width:100%;
    font-size: 40px;
    color:#fff;
    z-index:1;
    padding-top: 40px;
    text-align:center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.tile:hover:after, .tile:hover:before {
    opacity:1;
}

#tile-images {
	width: 80%;
}

/* forms */

span.form-error-message {
	color: #ff0000;
}

.input-prompt {
	position: absolute;
	display: inherit;
	font-style: italic;
	color: #666;
	margin: 0.2em 0 0 0.5em;
}

#image-upload input {
	display: block;
}

.form-control-error {
	border: #F73E3E solid 2px;
}

ul.error {
	margin: 10px 0 10px 0;
}

/* paginator */

.paginator {
	margin: 1em 0;
	font-size: 90%;
	width: 100%;
}

.paginator a, .paginator span {
	margin-right: 0.1em;
	padding: 0.2em 0.5em;
	color: #999999;
}

.paginator a {
	border: 1px solid #666;
	text-decoration: none;
	color: #666;
}

.paginator span.button {
	border: 1px solid #DDD;
}


.paginator .current {
	background: #2E6AB1;
	border: 1px solid #2E6AB1;
	color: white;
	font-weight: bold;
}

@media only screen and (max-width: 480px) {
	header {margin-top: 20px;}

	nav {width: 137px;margin: 10px auto;}
	nav ul li {height: 35px;}
}
